Repository tiagovilasboas/kanastra-frontend-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,css}": [
    "prettier --write",
    "git add"
  ]
}

refactor: remove unnecessary debug logs from Spotify repositories for cleaner production code
  src/repositories/spotify/SpotifyAuthService.ts
  src/repositories/spotify/SpotifyRepository.ts
  src/repositories/spotify/SpotifySearchService.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: remove unnecessary debug logs from hooks for cleaner production code
  src/hooks/usePopularAlbums.ts
  src/hooks/useSpotifyAuth.ts
  src/hooks/useSpotifyInit.ts
  src/hooks/useSpotifySearch.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: remove unnecessary debug logs from pages for cleaner production code
  src/pages/ArtistPage.tsx
  src/pages/CallbackPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: remove unnecessary debug logs from navigation store for cleaner production code
  src/stores/navigationStore.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: remove unnecessary debug logs from utilities for cleaner production code
  src/utils/cookies.ts
  src/utils/errorMonitoring.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: update test expectations after removing debug logs
  src/repositories/__tests__/SpotifyRepository.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: add comprehensive test suite for all modules
  src/hooks/__tests__/useSpotifyInit.test.ts
  src/repositories/__tests__/SpotifyAuthService.test.ts
  src/repositories/__tests__/SpotifySearchService.test.ts
  src/schemas/__tests__/spotify.test.ts
  src/stores/__tests__/appStore.test.ts
  src/stores/__tests__/navigationStore.test.ts
  src/stores/__tests__/searchStore.test.ts
  src/utils/__tests__/cookies.test.ts
  src/utils/__tests__/errorHandler.test.ts
  src/utils/__tests__/formatters.test.ts
  src/utils/__tests__/validation.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

style: fix import order in setupTests.ts
  src/config/setupTests.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: update useSpotifyInit test with improved error handling
  src/hooks/__tests__/useSpotifyInit.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: improve error handling in useSpotifySearch hook
  src/hooks/useSpotifySearch.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: enhance SpotifyAuthService test coverage and error handling
  src/repositories/__tests__/SpotifyAuthService.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: improve SpotifyRepository test coverage and error scenarios
  src/repositories/__tests__/SpotifyRepository.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: enhance SpotifySearchService test coverage and error handling
  src/repositories/__tests__/SpotifySearchService.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: improve Spotify schema validation test coverage
  src/schemas/__tests__/spotify.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: enhance searchStore test coverage and edge cases
  src/stores/__tests__/searchStore.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: improve errorHandler test coverage and error scenarios
  src/utils/__tests__/errorHandler.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: enhance validation utility test coverage and edge cases
  src/utils/__tests__/validation.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: add missing vi import in setupTests for proper test mocking
  src/config/setupTests.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: improve localStorage mock in appStore tests for better test isolation
  src/stores/__tests__/appStore.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: configure strict husky hooks for pre-commit and pre-push
  .husky/pre-commit
  .husky/pre-push
Due: none

feat: add performance analysis tools and update dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: implement code splitting and performance optimizations in vite config
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add separate TypeScript build config for production
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

feat: add LoadingSpinner component for lazy loading
  src/components/ui/LoadingSpinner.tsx
  src/components/ui/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: optimize useSpotifySearch hook with react-query and debounce
  src/hooks/__tests__/useSpotifyInit.test.ts
  src/hooks/useSpotifySearch.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: implement lazy loading and optimize SearchPage component
  src/app/router.tsx
  src/pages/SearchPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: remove duplicate localStorage mock from appStore test
  src/stores/__tests__/appStore.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: update ESLint config and add preload links to index.html
  eslint.config.js
  index.html
Due: eslint --fix --max-warnings=0, prettier --write

feat: add comprehensive E2E testing setup with Cypress
  cypress.config.ts
  cypress.env.json
  cypress/.gitignore
  cypress/e2e/README.md
  cypress/e2e/albums.cy.ts
  cypress/e2e/artists.cy.ts
  cypress/e2e/auth.cy.ts
  cypress/e2e/favorites.cy.ts
  cypress/e2e/navigation.cy.ts
  cypress/e2e/search.cy.ts
  cypress/e2e/settings.cy.ts
  cypress/fixtures/spotify-api.json
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  cypress/types/cypress.d.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add performance analysis scripts and E2E testing documentation
  docs/E2E_TESTING.md
  scripts/lighthouse.cjs
  scripts/run-e2e-tests.cjs
Due: prettier --write

docs: update README with performance metrics and add Lighthouse reports
  README.md
  lighthouse-dev-report.html
  lighthouse-report.json
  scripts/lighthouse.js
  tsconfig.build.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write

chore: add Lighthouse reports and build artifacts to .gitignore
  .gitignore
Due: none

chore: remove Lighthouse report files from repository
  lighthouse-dev-report.html
Due: none

fix: update Cypress config to use ES modules import
  cypress.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: update Cypress E2E README with latest configuration
  cypress/e2e/README.md
Due: prettier --write

fix: update Cypress plugins to use ES modules syntax
  cypress/plugins/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: update E2E testing documentation with latest setup
  docs/E2E_TESTING.md
Due: prettier --write

chore: remove Lighthouse report JSON file from repository
  lighthouse-report.json
Due: prettier --write

chore: remove unused kill-port scripts from package.json
  package.json
Due: prettier --write

fix: update Vite dev server port to standard 5173
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write
