Repository tiagovilasboas/kanastra-frontend-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

Hide load more button when filter is active in search by type page
  src/pages/SearchByTypePage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Restore search layout to match image: single input without separate button
  src/components/layout/Header/Header.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix load more logic to work properly with filter component
  src/pages/SearchByTypePage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Restore load more button visibility since logic is now fixed
  src/pages/SearchByTypePage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Add debug logs to investigate load more button issue with filter
  src/pages/SearchByTypePage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Hide load more button and counter when filter results are less than 20 items
  src/pages/SearchByTypePage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Improve search button design with modern gradient and hover effects
  src/components/layout/Header/Header.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Improve login button design with modern gradient and hover effects
  src/components/layout/Header/Header.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Remove E2E tests from Husky pre-push hook to speed up deployment
  .husky/pre-push
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should close dropdown when clicking outside (failed) (attempt 2).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should close dropdown when clicking outside (failed) (attempt 3).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should close dropdown when clicking outside (failed).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should handle rapid language switching (failed) (attempt 2).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should handle rapid language switching (failed) (attempt 3).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should handle rapid language switching (failed).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should maintain language selection across page navigation (failed) (attempt 2).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should maintain language selection across page navigation (failed) (attempt 3).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should maintain language selection across page navigation (failed).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should switch to English and update UI text (failed) (attempt 2).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should switch to English and update UI text (failed) (attempt 3).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should switch to English and update UI text (failed).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should switch to Portuguese and update UI text (failed) (attempt 2).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should switch to Portuguese and update UI text (failed) (attempt 3).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should switch to Portuguese and update UI text (failed).png
  cypress/screenshots/navigation.cy.ts/Navigation Menu E2E -- should navigate to search page when clicking search menu item (failed) (attempt 2).png
  cypress/screenshots/navigation.cy.ts/Navigation Menu E2E -- should navigate to search page when clicking search menu item (failed) (attempt 3).png
  cypress/screenshots/navigation.cy.ts/Navigation Menu E2E -- should navigate to search page when clicking search menu item (failed).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should display search page with all search types and perform basic search (failed) (attempt 2).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should display search page with all search types and perform basic search (failed) (attempt 3).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should display search page with all search types and perform basic search (failed).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should handle empty search results gracefully (failed) (attempt 2).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should handle empty search results gracefully (failed) (attempt 3).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should handle empty search results gracefully (failed).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should maintain search state when navigating between types (failed) (attempt 2).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should maintain search state when navigating between types (failed) (attempt 3).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should maintain search state when navigating between types (failed).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should switch between search types and display appropriate results (failed) (attempt 2).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should switch between search types and display appropriate results (failed) (attempt 3).png
  cypress/screenshots/search.cy.ts/Search Page E2E - Happy Path -- should switch between search types and display appropriate results (failed).png
Due: none

refactor: eliminate remaining Audiobook type references from SearchByTypePage
  README.md
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should maintain language selection across page navigation (failed) (attempt 2).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should maintain language selection across page navigation (failed) (attempt 3).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should maintain language selection across page navigation (failed).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should switch to Portuguese and update UI text (failed) (attempt 2).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should switch to Portuguese and update UI text (failed) (attempt 3).png
  cypress/screenshots/language.cy.ts/Language Selector E2E -- should switch to Portuguese and update UI text (failed).png
  eslint.config.js
  index.html
  src/app/providers/app-provider.tsx
  src/components/artist/ArtistAlbums.tsx
  src/components/layout/Header/Header.tsx
  src/components/search/AlbumsSection.tsx
  src/components/search/AllResultsView.tsx
  src/components/search/ArtistsSection.tsx
  src/components/search/AudiobooksSection.tsx
  src/components/search/EpisodesSection.tsx
  src/components/search/PlaylistsSection.tsx
  src/components/search/ShowsSection.tsx
  src/components/search/index.ts
  src/components/ui/ArtistCard.tsx
  src/components/ui/LanguageSelector.tsx
  src/components/ui/TypeSelector.tsx
  src/config/i18n.ts
  src/entry/main.tsx
  src/hooks/useSpotifyInfiniteByType.ts
  src/hooks/useSpotifySearch.ts
  src/hooks/useSpotifySearchByType.ts
  src/locales/en/search.json
  src/locales/pt/search.json
  src/pages/SearchByTypePage.tsx
  src/pages/SearchPage.tsx
  src/services/SearchService.ts
  src/utils/logger.ts
  tsconfig.build.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write

style(header): restore original search input without extra button
  src/components/layout/Header/Header.tsx
Due: eslint --fix --max-warnings=0, prettier --write

ci: add Reviewdog workflow for ESLint and Prettier checks
  .github/workflows/reviewdog.yml
Due: none

build: add terser as devDependency to satisfy Vite minifier
  package-lock.json
  package.json
Due: prettier --write

docs(readme): update features and add Reviewdog CI section
  README.md
Due: prettier --write

docs(readme): remove contributing section for challenge context
  README.md
Due: prettier --write

docs(readme): remove duplicate technology stack mention
  README.md
Due: prettier --write

chore(build): update TypeScript incremental build info
  tsconfig.build.tsbuildinfo
Due: none

refactor(search): remove SearchFilters feature and corresponding e2e assertions
  cypress/e2e/navigation.cy.ts
  cypress/e2e/search.cy.ts
  src/pages/SearchPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(search): open album on Spotify when clicking album card in AlbumsSection
  src/components/search/AlbumsSection.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs(readme): align features list with current implementation (remove filters & audiobooks)
  README.md
Due: prettier --write

docs(readme): add technical roadmap with refactor priorities chore(search): introduce SearchSections component (no functional change)
  README.md
  src/components/search/sections/SearchSections.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: move technical roadmap to standalone TECHNICAL_ROADMAP.md and clean README
  README.md
  TECHNICAL_ROADMAP.md
Due: prettier --write

refactor(search): use SearchSections component in SearchPage and export in barrel
  src/components/search/sections/index.ts
  src/pages/SearchPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

style(header): sort imports and format new useSearchBar hook
  src/components/layout/Header/Header.tsx
  src/hooks/useSearchBar.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(hooks): add useSearchParams hook to centralize URL query handling
  src/hooks/useSearchParams.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(hooks): add useSearchPagePresenter to encapsulate SearchPage logic
  src/hooks/useSearchPagePresenter.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(page): integrate useSearchParams and sort imports in SearchByTypePage
  src/pages/SearchByTypePage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(page): simplify SearchPage using useSearchPagePresenter
  src/pages/SearchPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(header): extract search logic into SearchBarContainer keeping Header presentational
  src/components/layout/AppLayout.tsx
  src/components/layout/Header/Header.tsx
  src/components/layout/Header/SearchBarContainer.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: update tsconfig build info
  tsconfig.build.tsbuildinfo
Due: none

feat(navigation): create navigation containers to separate UI from navigation logic
  src/components/search/AlbumsSection.tsx
  src/components/search/ArtistsSection.tsx
  src/components/search/TracksSection.tsx
  src/components/ui/AlbumCardContainer.tsx
  src/components/ui/ArtistCardContainer.tsx
  src/components/ui/AudiobookCardContainer.tsx
  src/components/ui/EpisodeCardContainer.tsx
  src/components/ui/PlaylistCardContainer.tsx
  src/components/ui/ShowCardContainer.tsx
  src/components/ui/TrackCard.tsx
  src/components/ui/TrackCardContainer.tsx
  src/components/ui/TrackListContainer.tsx
  src/components/ui/index.ts
  src/hooks/useNavigationHandlers.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(performance): centralize API limits and remove magic numbers
  src/components/search/AllResultsView.tsx
  src/constants/limits.ts
  src/hooks/usePopularArtists.ts
  src/hooks/useSpotifyInfiniteByType.ts
  src/hooks/useSpotifySearchByType.ts
  src/services/SearchService.ts
  tsconfig.build.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write

feat(architecture): add DTOs and mappers layer to break Spotify SDK dependency
  src/components/ui/AlbumCardContainer.tsx
  src/components/ui/ArtistCardContainer.tsx
  src/components/ui/PlaylistCardContainer.tsx
  src/components/ui/TrackCardContainer.tsx
  src/mappers/spotify.ts
  tsconfig.build.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write

style: apply prettier formatting and sort imports
  tsconfig.build.tsbuildinfo
Due: none

fix: add vercel.json for SPA routing configuration
  PR_DESCRIPTION.md
  TECHNICAL_ANALYSIS.md
  vercel.json
Due: prettier --write

feat: implement performance optimizations and full-width header
  README.md
  package-lock.json
  package.json
  src/components/layout/Header/Header.tsx
  src/components/ui/AlbumCard.tsx
  src/components/ui/ArtistCard.tsx
  src/components/ui/OptimizedImage.tsx
  src/components/ui/TrackListItem.tsx
  src/hooks/useDebounce.ts
  src/hooks/useImagePreload.ts
  src/hooks/usePerformanceOptimizations.ts
  src/hooks/usePopularArtists.ts
  src/mappers/spotify.ts
  src/pages/ArtistsPage.tsx
  src/pages/HomePage.tsx
  src/utils/imageOptimization.ts
  tsconfig.build.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write

fix: ensure artist cards are properly rounded on home page
  src/components/ui/OptimizedImage.tsx
  tsconfig.build.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write

fix: ensure artist cards are perfectly circular across all pages
  src/components/layout/Header/Header.tsx
  src/components/search/ArtistsSection.tsx
  src/components/ui/MobileFiltersOverlay.tsx
  src/components/ui/MobileSearchOverlay.tsx
  src/pages/ArtistsPage.tsx
  src/pages/HomePage.tsx
  src/pages/SearchByTypePage.tsx
  tsconfig.build.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write

feat: implement mobile search overlay for better mobile UX
  src/components/layout/Header/Header.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: improve mobile search overlay UX
  src/components/ui/MobileSearchOverlay.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
