Repository tiagovilasboas/kanastra-frontend-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,css}": [
    "prettier --write",
    "git add"
  ]
}

docs: add comprehensive documentation for E2E testing strategy
  docs/E2E_TEST_ISSUES.md
  docs/TESTING_STRATEGY.md
Due: prettier --write

test(e2e): clean up test screenshots
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 1. Spotify API Authentication -- should redirect to Spotify authorization with correct parameters (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 10. Security -- should use secure authentication flow (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 11. Challenge Requirements Coverage -- should meet all challenge requirements (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 2. Artist Search and Listing -- should display artist cards when searching (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 2. Artist Search and Listing -- should display artist cards with proper information (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 2. Artist Search and Listing -- should handle empty search results (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 3. Artist Details Page -- should display artist information (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 3. Artist Details Page -- should display top tracks section (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 3. Artist Details Page -- should have back to home button (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 3. Artist Details Page -- should navigate to artist details page (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 4. Albums Listing and Pagination -- should display album cards with proper information (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 4. Albums Listing and Pagination -- should display albums section (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 4. Albums Listing and Pagination -- should have album filtering (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 4. Albums Listing and Pagination -- should have pagination controls (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 5. UIUX Features -- should have loading states (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 6. Internationalization -- should have language selector functionality (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 8. Accessibility -- should have proper alt text for images (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 1. Spotify API Authentication -- should redirect to Spotify authorization with correct parameters (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 2. Artist Search and Listing -- should display artist cards when searching (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 2. Artist Search and Listing -- should display artist cards with proper information (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 2. Artist Search and Listing -- should handle empty search results (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 3. Artist Details Page -- should display artist information (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 3. Artist Details Page -- should display top tracks section (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 3. Artist Details Page -- should have back to home button (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 3. Artist Details Page -- should navigate to artist details page (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 4. Albums Listing and Pagination -- should display album cards with proper information (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 4. Albums Listing and Pagination -- should display albums section (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 4. Albums Listing and Pagination -- should have album filtering (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 4. Albums Listing and Pagination -- should have pagination controls (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 5. UIUX Features -- should have language selector (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 5. UIUX Features -- should have loading states (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 6. Internationalization -- should have language selector functionality (failed).png
  cypress/screenshots/kanastra-challenge.cy.ts/Kanastra Frontend Challenge - E2E Tests -- 7. Performance and Loading -- should handle network requests (failed).png
Due: none

test: fix failing tests and simplify test suite
  cypress/e2e/kanastra-challenge.cy.ts
  src/app/App.test.tsx
  src/config/setupTests.ts
  src/hooks/useArtistAlbums.ts
  src/hooks/useArtistDetails.ts
  src/hooks/useArtistTopTracks.ts
  src/hooks/usePrefetch.ts
  src/pages/ArtistPage.tsx
  src/repositories/spotify/SpotifyAuthService.ts
  src/repositories/spotify/SpotifyRepository.ts
  src/repositories/spotify/SpotifySearchService.ts
  src/schemas/spotify.ts
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: remove all failing tests and create TODO for future implementation
  TODO_TESTS.md
  cypress/e2e/01-authentication.cy.ts
  cypress/e2e/02-search-functionality.cy.ts
  cypress/e2e/03-artist-details.cy.ts
  cypress/e2e/04-ui-components.cy.ts
  cypress/e2e/05-accessibility.cy.ts
  cypress/e2e/kanastra-challenge-fixed.cy.ts
  cypress/e2e/kanastra-challenge.cy.ts
  cypress/e2e/run-all-tests.cy.ts
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 1. Spotify API Authentication -- should redirect to Spotify authorization with correct parameters (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 10. Security -- should use secure authentication flow (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 11. Challenge Requirements Coverage -- should meet all challenge requirements (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 2. Artist Search and Listing -- should display artist cards when searching (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 2. Artist Search and Listing -- should display artist cards with proper information (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 2. Artist Search and Listing -- should handle empty search results (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 3. Artist Details Page -- should display artist information (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 3. Artist Details Page -- should display top tracks section (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 3. Artist Details Page -- should have back to home button (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 3. Artist Details Page -- should navigate to artist details page (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 4. Albums Listing and Pagination -- should display album cards with proper information (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 4. Albums Listing and Pagination -- should display albums section (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 4. Albums Listing and Pagination -- should have album filtering (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 4. Albums Listing and Pagination -- should have pagination controls (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 5. UIUX Features -- should have loading states (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 6. Internationalization -- should have language selector functionality (failed).png
  cypress/screenshots/kanastra-challenge-fixed.cy.ts/Kanastra Frontend Challenge - E2E Tests (Fixed) -- 8. Accessibility -- should have proper alt text for images (failed).png
Due: eslint --fix --max-warnings=0, prettier --write

fix: resolve authentication issues and improve error handling
  src/components/ui/AuthDebug.tsx
  src/hooks/useSpotifyAuth.ts
  src/pages/CallbackPage.tsx
  src/pages/HomePage.tsx
  src/repositories/spotify/SpotifyRepository.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: restore search functionality with improved error handling
  src/app/providers/app-provider.tsx
  src/hooks/useSpotifyInit.ts
  src/hooks/useSpotifySearch.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: ensure client token is obtained before search and add debug component
  src/components/ui/SearchDebug.tsx
  src/hooks/useSpotifySearch.ts
  src/pages/HomePage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: correct Spotify token schema and improve error handling
  src/repositories/spotify/SpotifyRepository.ts
  src/schemas/spotify.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: make popularity field optional in Spotify schemas
  src/repositories/spotify/SpotifySearchService.ts
  src/schemas/spotify.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: enhance artist page with modern design and improved UX
  src/pages/ArtistPage.tsx
  src/styles/globals.css
Due: eslint --fix --max-warnings=0, prettier --write

feat: enhance React Query implementation across artist page
  src/hooks/useArtistAlbums.ts
  src/hooks/useArtistPage.ts
  src/hooks/useArtistTopTracks.ts
  src/hooks/usePrefetch.ts
  src/pages/ArtistPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: improve SearchInput clear button positioning and styling
  src/components/ui/SearchInput/SearchInput.module.css
  src/components/ui/SearchInput/SearchInput.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add complete internationalization support to ArtistPage
  src/components/ui/AuthDebug.tsx
  src/hooks/useArtistPage.ts
  src/locales/en/artist.json
  src/locales/pt/artist.json
  src/pages/ArtistPage.tsx
  src/types/spotify.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add comprehensive unit tests for complex application logic
  src/hooks/__tests__/useSpotifyAuth.test.ts
  src/hooks/__tests__/useSpotifySearch.test.ts
  src/repositories/__tests__/SpotifyRepository.test.ts
  src/utils/__tests__/errorHandler.test.ts
  src/utils/__tests__/formatters.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: update dependencies and project configuration
  README.md
  index.html
  package-lock.json
  package.json
Due: prettier --write

docs: add authentication troubleshooting and environment check scripts
  docs/AUTHENTICATION_TROUBLESHOOTING.md
  scripts/check-env.js
Due: eslint --fix --max-warnings=0, prettier --write

fix: improve error handling, formatters and validation utilities
  src/utils/__tests__/errorHandler.test.ts
  src/utils/__tests__/formatters.test.ts
  src/utils/__tests__/validation.test.ts
  src/utils/cookies.ts
  src/utils/errorHandler.ts
  src/utils/formatters.ts
  src/utils/validation.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: enhance Spotify repository with better token handling and error management
  src/repositories/__tests__/SpotifyRepository.test.ts
  src/repositories/spotify/SpotifyAuthService.ts
  src/repositories/spotify/SpotifyRepository.ts
  src/repositories/spotify/SpotifySearchService.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add new hooks for artist details, prefetching and optimized queries
  src/hooks/__tests__/useArtistPage.test.ts
  src/hooks/__tests__/useDebounce.test.ts
  src/hooks/__tests__/useSpotifyAuth.test.tsx
  src/hooks/__tests__/useSpotifySearch.test.tsx
  src/hooks/index.ts
  src/hooks/useArtistDetailsOptimized.ts
  src/hooks/useArtistPrefetch.ts
  src/hooks/useSpotifyInit.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add mobile layout components and responsive design system
  src/components/layout/AppLayout.tsx
  src/components/layout/Header/Header.tsx
  src/components/layout/MobileLayout.tsx
  src/components/layout/MobileNavigation.tsx
  src/components/layout/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add new UI components for mobile experience and album grid
  src/components/ui/AlbumGrid.tsx
  src/components/ui/ArtistCard/ArtistCard.tsx
  src/components/ui/AuthDebug.tsx
  src/components/ui/GlobalDebug/GlobalDebug.tsx
  src/components/ui/GlobalDebug/index.ts
  src/components/ui/HorizontalCard.tsx
  src/components/ui/HorizontalSection.tsx
  src/components/ui/NowPlaying.tsx
  src/components/ui/SearchInput/SearchInput.tsx
  src/components/ui/UserMenu/UserMenu.tsx
  src/components/ui/UserMenu/index.ts
  src/components/ui/__tests__/ArtistCard.test.tsx
  src/components/ui/__tests__/SearchInput.test.tsx
  src/components/ui/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add SEO components for better meta tags and structured data
  src/components/SEO/SEOHead.tsx
  src/components/SEO/StructuredData.tsx
  src/components/SEO/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add SEO translations and update auth messages
  src/locales/en/auth.json
  src/locales/en/seo.json
  src/locales/pt/auth.json
  src/locales/pt/seo.json
Due: prettier --write

feat: update Spotify types for better type safety
  src/types/spotify.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: implement mobile layout and improve artist page spacing
  src/pages/ArtistPage.tsx
  src/pages/CallbackPage.tsx
  src/pages/HomePage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add global debug component and improve app structure
  src/app/App.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add comprehensive mobile styles and responsive design system
  src/styles/globals.css
Due: prettier --write

feat: add public assets for mobile layout and SEO
  public/manifest.json
  public/robots.txt
  public/sitemap.xml
Due: prettier --write

refactor: remove broken tests and clean up project structure
  src/components/ui/AuthDebug.tsx
  src/components/ui/SearchDebug.tsx
  src/components/ui/__tests__/ArtistCard.test.tsx
  src/components/ui/__tests__/SearchInput.test.tsx
  src/hooks/__tests__/useArtistPage.test.ts
  src/hooks/__tests__/useDebounce.test.ts
  src/hooks/__tests__/useSpotifyAuth.test.tsx
  src/hooks/__tests__/useSpotifySearch.test.tsx
  src/repositories/__tests__/SpotifyRepository.test.ts
  src/repositories/spotify/SpotifyAuthService.ts
  src/styles/globals.css
  src/utils/__tests__/errorHandler.test.ts
  src/utils/__tests__/formatters.test.ts
  src/utils/__tests__/validation.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: move Spotify login button to header right side
  src/components/layout/Header/Header.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add styles for Spotify login button in header
  src/components/layout/Header/Header.module.css
Due: prettier --write

refactor: remove authentication section from sidebar
  src/components/layout/Sidebar/Sidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: remove auth section styles and add tooltip z-index fixes
  src/styles/globals.css
Due: prettier --write

fix: optimize language selector to prevent layout jumps
  src/components/ui/LanguageSelector/LanguageSelector.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: add consistent dimensions to prevent language selector jumps
  src/components/ui/LanguageSelector/LanguageSelector.module.css
Due: prettier --write

feat: add focus navigation to return to homepage when search is focused
  src/components/ui/SearchInput/SearchInput.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: prioritize search results over section-specific content
  src/pages/HomePage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: improve artist page skeleton with better spacing and structure
  src/pages/ArtistPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: update AppLayout interface for better type safety
  src/components/layout/AppLayout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: translate all untranslated strings to resolve linting errors
  src/components/layout/MobileLayout.tsx
  src/components/ui/AlbumGrid.tsx
  src/components/ui/GlobalDebug/GlobalDebug.tsx
  src/components/ui/HorizontalCard.tsx
  src/components/ui/NowPlaying.tsx
Due: eslint --fix --max-warnings=0, prettier --write
